main {
    padding: 5rem;
    text-align: center;
}

a {
    color: white;
}

.cuerpo {
    Background-image: url("../img/imagenFondoAzul.jpg");
    Background-repeat: no-repeat;
    color: aliceblue;  
}

footer {
    text-align: center;
}

.formulario-contacto{
    text-align:left;
}