main {
    padding: 5rem;
    text-align: center;
}

a {
    color: white;
}

.cuerpo {
    Background-image: url("../img/imagenFondoAzul.jpg");
    Background-repeat: no-repeat;
    color: aliceblue;  
}

footer {
    align-items: flex-end;
    text-align: center;
}

.formulario-contacto{
    text-align:left;
}

carrousel-item {
    max-width: 50px;
}

.pie-pagina {
    align-items: flex-end;
}