main {
    padding: 5rem;
    text-align: center;
}

a {
    color: white;
}

.cuerpo {
    Background-image: url("../img/low-poly-grid-haikei\ \(1\).svg");
    Background-size: cover;
    Background-repeat: no-repeat;
    color: aliceblue;  
}

footer {
    text-align: center;
}